In [1]:
import pandas as pd

# Read the data after we imputed the age column with the mean
df = pd.read_csv('Data/colon-dataset.csv', encoding_errors='ignore')

df

,kolongrup,Age,p16540,p16580,mdm2,GAL3,TIM1,trail,pd1duz,pdl1poly,CD28,cd27snp,CD40
0,kontrol,49,G/C,C/C,G/G,C/A,G/C,C/T,NaN,A/C,T/T,A/T,C/T
1,kontrol,49,G/C,C/C,G/G,A/A,G/C,NaN,NaN,A/A,T/T,A/A,C/C
2,kontrol,49,G/C,C/C,G/T,C/A,C/C,NaN,T/T,A/A,T/T,A/A,C/T
3,kontrol,36,G/C,C/C,T/T,C/A,C/C,NaN,NaN,A/C,T/T,A/A,C/C
4,kontrol,49,C/C,C/T,T/T,C/C,G/C,C/C,NaN,A/C,T/T,A/A,T/T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,kolon ca,81,G/C,C/C,T/T,C/C,G/G,C/T,NaN,A/A,T/T,NaN,NaN
111,kolon ca,73,C/C,C/C,T/T,C/C,G/G,C/C,C/C,A/C,NaN,A/T,NaN
112,kolon ca,56,C/C,C/C,G/T,C/C,G/C,C/T,C/T,A/C,C/T,NaN,NaN
113,kolon ca,74,G/C,C/T,G/G,C/C,G/G,C/T,C/C,NaN,NaN,A/T,NaN
114,kolon ca,37,G/C,C/T,T/T,C/C,G/C,C/T,NaN,NaN,T/T,NaN,NaN

In [2]:
# Drop the columns that can cause imbalanced data
df.drop(['trail', 'CD28','pd1duz','pdl1poly','CD40','cd27snp'], axis=1, inplace=True)
df

In [4]:
#checking for null values
df.isnull().sum()

kolongrup    0
Age          0
p16540       0
p16580       0
mdm2         0
GAL3         0
TIM1         0
dtype: int64

In [5]:
#rename the column to make more sense
df.replace('kontrol', 'healthy', inplace=True)
df

    kolongrup  Age p16540 p16580 mdm2 GAL3 TIM1
0     healthy   49    G/C    C/C  G/G  C/A  G/C
1     healthy   49    G/C    C/C  G/G  A/A  G/C
2     healthy   49    G/C    C/C  G/T  C/A  C/C
3     healthy   36    G/C    C/C  T/T  C/A  C/C
4     healthy   49    C/C    C/T  T/T  C/C  G/C
..        ...  ...    ...    ...  ...  ...  ...
110  kolon ca   81    G/C    C/C  T/T  C/C  G/G
111  kolon ca   73    C/C    C/C  T/T  C/C  G/G
112  kolon ca   56    C/C    C/C  G/T  C/C  G/C
113  kolon ca   74    G/C    C/T  G/G  C/C  G/G
114  kolon ca   37    G/C    C/T  T/T  C/C  G/C

[115 rows x 7 columns]

In [6]:
#rename the column to make more sense
df.replace('kolon ca', 'diagnosed', inplace=True)

df

     kolongrup  Age p16540 p16580 mdm2 GAL3 TIM1
0      healthy   49    G/C    C/C  G/G  C/A  G/C
1      healthy   49    G/C    C/C  G/G  A/A  G/C
2      healthy   49    G/C    C/C  G/T  C/A  C/C
3      healthy   36    G/C    C/C  T/T  C/A  C/C
4      healthy   49    C/C    C/T  T/T  C/C  G/C
..         ...  ...    ...    ...  ...  ...  ...
110  diagnosed   81    G/C    C/C  T/T  C/C  G/G
111  diagnosed   73    C/C    C/C  T/T  C/C  G/G
112  diagnosed   56    C/C    C/C  G/T  C/C  G/C
113  diagnosed   74    G/C    C/T  G/G  C/C  G/G
114  diagnosed   37    G/C    C/T  T/T  C/C  G/C

[115 rows x 7 columns]

In [8]:
#hot encoding the categorical data
columns_to_encode = ['p16540', 'p16580', 'mdm2', 'GAL3', 'TIM1']

df_encoded = pd.get_dummies(df, columns=columns_to_encode)

df_encoded

,kolongrup,Age,p16540_C/C,p16540_G/C,p16540_G/G,p16580_C/C,p16580_C/T,p16580_T/T,mdm2_G/G,mdm2_G/T,mdm2_T/T,GAL3_A/A,GAL3_C/A,GAL3_C/C,TIM1_C/C,TIM1_G/C,TIM1_G/G
0,healthy,49,False,True,False,True,False,False,True,False,False,False,True,False,False,True,False
1,healthy,49,False,True,False,True,False,False,True,False,False,True,False,False,False,True,False
2,healthy,49,False,True,False,True,False,False,False,True,False,False,True,False,True,False,False
3,healthy,36,False,True,False,True,False,False,False,False,True,False,True,False,True,False,False
4,healthy,49,True,False,False,False,True,False,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,diagnosed,81,False,True,False,True,False,False,False,False,True,False,False,True,False,False,True
111,diagnosed,73,True,False,False,True,False,False,False,False,True,False,False,True,False,False,True
112,diagnosed,56,True,False,False,True,False,False,False,True,False,False,False,True,False,True,False
113,diagnosed,74,False,True,False,False,True,False,True,False,False,False,False,True,False,False,True
114,diagnosed,37,False,True,False,False,True,False,False,False,True,False,False,True,False,True,False

In [9]:
#rename field 
df_encoded.rename(columns={'kolongrup':'Class'}, inplace=True)

df_encoded

,Class,Age,p16540_C/C,p16540_G/C,p16540_G/G,p16580_C/C,p16580_C/T,p16580_T/T,mdm2_G/G,mdm2_G/T,mdm2_T/T,GAL3_A/A,GAL3_C/A,GAL3_C/C,TIM1_C/C,TIM1_G/C,TIM1_G/G
0,healthy,49,False,True,False,True,False,False,True,False,False,False,True,False,False,True,False
1,healthy,49,False,True,False,True,False,False,True,False,False,True,False,False,False,True,False
2,healthy,49,False,True,False,True,False,False,False,True,False,False,True,False,True,False,False
3,healthy,36,False,True,False,True,False,False,False,False,True,False,True,False,True,False,False
4,healthy,49,True,False,False,False,True,False,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,diagnosed,81,False,True,False,True,False,False,False,False,True,False,False,True,False,False,True
111,diagnosed,73,True,False,False,True,False,False,False,False,True,False,False,True,False,False,True
112,diagnosed,56,True,False,False,True,False,False,False,True,False,False,False,True,False,True,False
113,diagnosed,74,False,True,False,False,True,False,True,False,False,False,False,True,False,False,True
114,diagnosed,37,False,True,False,False,True,False,False,False,True,False,False,True,False,True,False

In [10]:
#double checking for null values
df_encoded.isnull().sum()

Class         0
Age           0
p16540_C/C    0
p16540_G/C    0
p16540_G/G    0
p16580_C/C    0
p16580_C/T    0
p16580_T/T    0
mdm2_G/G      0
mdm2_G/T      0
mdm2_T/T      0
GAL3_A/A      0
GAL3_C/A      0
GAL3_C/C      0
TIM1_C/C      0
TIM1_G/C      0
TIM1_G/G      0
dtype: int64